# Flutter Build Artifacts
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec/
ios/Pods/

# Environment & IDE
.idea/
.vscode/
*.log

# Dart artifacts
*.class

# Gradle
.gradle/
gradle-wrapper.jar
